- if @events.size > 0
  - @events.each do |event|
    .grid_9.show-event
      .top-column
        %h2= event.title
      .top-column
        .grid_1.event-desc
          状態
          %br
          締切り
          %br
          場所
          %br
          詳細
        .grid_7.event-desc
          %b= EVENT_STATUS[event.status]
          %br
          - if event.dead_line
            %b= event.dead_line
          - else
            %b 決まっていません
          %br
          %b= event.place
          %br
          %b= event.note
        .cl
        .right
          = link_to ">> 詳細を見る", :controller => "events", :action => "show", :e => Cipher.to_tiny(event.id)
      .cl
- else
  = render "help"
- if @user.invited_num > 0
  .grid_2.show-event
    あたらしく招待されているイベントがあります
    %br
    = link_to "一覧を見る",:action => "show_invited"
.grid_2.show-event
  - if @invited_flag
    = link_to "トップに戻る",:action => "index"
  - else
    = link_to "誘われているイベントヘ",:action => "show_invited"
