- options = []
- for i in 0..EVENT_RANK.size-1
  - a = EVENT_RANK.size - 1 - i
  - options.push([EVENT_RANK[a], a])
%div{:id => "calendar-wrap#{ident_num}"}
  - if params[:date]
    .date-plan.after-select
      希望日
      = ident_num
      = render "events/calendar",{:ident_num => ident_num}
      .date-detail
        = hidden_field_tag "wish_date#{ident_num}", params[:year] + "/" + params[:month] + "/" + params[:date]
        %p
          時間
          = text_field_tag "start_time#{ident_num}"
        %p
          ランク
          = select_tag "rank#{ident_num}", options_for_select(options)
      .cl
  - else
    .date-plan.before-select
      希望日
      = ident_num
      = render "events/calendar",{:ident_num => ident_num}
      .date-detail
        %p
          時間
          = text_field_tag "start_time#{ident_num}"
        %p
          ランク
          = select_tag "rank#{ident_num}", options_for_select(options)
      .cl
