%ul.breadcrumb
  %li
    %a 1.タイトル/日程を決める
  %li
    %a 2.参加者を選ぶ
  %li.current
    %a 3.参加者へ知らせる
  %li
    %a 4.完了!! あとは待つだけ!!
.grid_5
  %h2 イベント詳細
  .top-column
    .grid_1.event-desc
      タイトル
      %br
      状態
      %br
      目的
      %br
      場所
      %br
      詳細
    .grid_3.event-desc
      %b= @event.title
      %br
      %b= EVENT_STATUS[@event.status]
      %br
      %b= @event.category
      %br
      %b= @event.place
      %br
      %b= simple_format @event.note
    .cl
    .right
      = link_to ">> 編集する", :action => "edit_event_detail", :from => "send_message", :e => params[:e]
  .hr
  %h2 日程詳細
  - i = 0
  - @schedules.each do |s|
    .top-column
      %b{:style => "padding:10px;"}
        リスト
        = i += 1
      .cl
      .grid_1.event-desc
        提案日
        %br
        ランク
      .grid_3.event-desc
        %b= s.proposal_time
        %br
        %b= EVENT_RANK[s.rank.to_i]
    .cl
  .right
    = link_to ">> 編集する", :action => "edit_schedule", :from => "send_message", :e => params[:e]

  .hr
  %h2 参加者
  - @atnd_infos.each do |name,image|
    .friends-list.defined
      .friend-img
        = image_tag(image)
        .cl
        = name
  .cl
  .right
    = link_to ">> 編集する", :action => "edit_friend", :from => "send_message", :e => params[:e]
  .cl
.grid_6
  .send-message-btn
    = link_to image_tag("send.jpg"),"http://www.facebook.com/dialog/send?app_id=#{FACEBOOK_APP_ID}&name=#{@user.name}さんからスケジュール調整の申請があります&link=#{SITE_URI}show?e=#{params[:e]}&redirect_uri=#{SITE_URI + params[:controller]}/#{params[:action]}?e=#{params[:e]}&picture=#{DIALOG_PICTURE_URI}&description=#{DIALOG_DESCRIPTION}",:target => "_blank"

  -# = link_to image_tag("send.jpg"),"http://www.facebook.com/dialog/feed?app_id=#{FACEBOOK_APP_ID}",:target =>"_blank"
.cl
.right
  %a.button.button-blue{:href => "/events/complete"}
    %span 最後のステップへ
