.help
  %h2 投票が完了しました!
  = @event.host_user_name
  さんにメッセージを伝えましょう。
.help-link
  = link_to image_tag("send.jpg"),"http://www.facebook.com/dialog/send?app_id=#{FACEBOOK_APP_ID}&name=#{@event.host_user_name}さんのスケジュールに投票しました&link=#{SITE_URI}show?e=#{params[:e]}&redirect_uri=#{SITE_URI + params[:controller]}/#{params[:action]}?e=#{params[:e]}&picture=#{DIALOG_PICTURE_URI}&description=#{DIALOG_DESCRIPTION}&to=#{@event.host_user_id}",:target => "_blank"
