.grid_5.show-event
  .top-column
    %h2= @event.title
  .top-column
    .grid_1.event-desc
      状態
      %br
      締切り
      %br
      場所
      %br
      詳細
    .grid_3.event-desc
      %b= EVENT_STATUS[@event.status]
      %br
      - if @event.dead_line
        %b= @event.dead_line
      - else
        %b 決まっていません
      %br
      %b= @event.place
      %br
      %b= simple_format @event.note
    .cl
    - if @user && @event.host_user?(@user.id)
      .right
        = link_to ">> 編集する", :action => "edit", :e => params[:e]
      .cl
  .top-column
    %h2
      参加予定者
    - @ues.each do |ue|
      .friends-list.defined
        .friend-img
          = image_tag("http://graph.facebook.com/" + ue.user_id.to_s + "/picture")
          %p= ue.user_name
    .cl
  .top-column
    %h2
      イベントを作成したユーザ
      .self-img
        = image_tag("http://graph.facebook.com/" + @event.host_user_id.to_s + "/picture")
        = @event.host_user_name
.grid_6.show-event
  - form_tag(url_for(:controller => "events", :action => "vote_this_date")) do
    - i = 0
    = hidden_field_tag "schedule_size", @schedules.size

    - @schedules.each do |s|
      - i += 1
      .vote-schedule
        .top-column
          %h2
            候補
            = i
        .top-column
          .grid_1.event-desc
            日時
            %br
            ランク
            %br
            状態
            %br
            投票数
          .grid_3.event-desc
            %b= s.proposal_time
            %br
            %b= EVENT_RANK[s.rank]
            %br
            %b= EVENT_STATUS[s.status]
            %br
            %b= s.atnd_num.to_s + "票"
          - if !@user
            .grid_1.cant-vote
              = link_to image_tag("fb.jpg"),"/auth/facebook?origin=%2F#{params[:controller]}%2F#{params[:action]}?e=#{params[:e]}"
              ログインして
              投票しましょう
          - elsif @event.atnd_user?(@user.id)
            .grid_1.vote-img
              = hidden_field_tag "schedule_id#{i}", s.id
              %div{:id => "vote-btn#{i}"}
                = image_tag "yes.png"
                = link_to "出席",{:action => "voting_ajax", :ident_num => i, :vote => "yes"},:remote => true
                %br
                = image_tag "no.png"
                = link_to "欠席",{:action => "voting_ajax", :ident_num => i, :vote => "no"},:remote => true
          - else
            .grid_1.cant-vote
              あなたは投票権がありません...
          .cl

      #send-vote
