!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{ 'property' => 'og:site_name', :content => 'invt' }
    %meta{ 'name' => 'description', :content => 'INVT' }
    %title スケジュール調整支援ツール インバイト:INVT
    = stylesheet_link_tag :all, :media => 'screen,projection'
    = javascript_include_tag :all
    %link{ :rel => 'shortcut icon', :media => 'image/x-icon', :href => '/images/favi.ico' }
  %body.container_12
    .header
      .logo.grid_2
        %h1= link_to 'INVT','/'
      .desc.grid_4
        予定合わせ支援サービス:INVT(インバイト)
      .signin
        - unless @user
          = link_to image_tag("login.jpg"), "/auth/facebook?origin=%2F#{params[:controller]}%2F#{params[:action]}?e=#{params[:e]}"
          or
          = link_to "デモページを見る",:controller => "events",:action => "show", :e => Cipher.to_tiny(1)

        - else
          = @user.name
          :erb
            | 招待されているイベント(<%= link_to  @user.invited_num.to_s,"/show_invited" %>)
          |
          = link_to "トップ","/"
          |
          = link_to "新規イベントを追加",:controller => "events",:action => "detail"

      .cl
    .body-wrapper
      - if flash[:notice]
        .notice
          = flash[:notice]
      - if flash[:alert]
        .alert
          = flash[:alert]
      .contents= yield
    .footer.right
      = link_to "INVTについて","/help"
      |
      = link_to "利用規約","/terms"
      |
      = link_to "個人情報について","/privacy"
      |
      = link_to "開発者について","http://www.facebook.com/tomoyamachi",:target=>"_blank"
      |
      = link_to "意見/質問/エラー報告等","http://www.facebook.com/dialog/send?app_id=#{FACEBOOK_APP_ID}&name=INVTについて&redirect_uri=#{SITE_URI + params[:controller]}/#{params[:action]}?e=#{params[:e]}&picture=#{DIALOG_PICTURE_URI}&to=1383097228&description=エラー報告の場合、エラーが発生した状況を、できるかぎり詳しくお聞かせください。",:target => "_blank"
      - if @user
        |
        = link_to "ログアウト","/sessions/destroy"